* {
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 40%;
  grid-template-rows: 100px 1fr minmax(100px, auto);
  min-width: 100vw;
  min-height: 100vh;
  gap: 0px 0px;
  grid-template-areas:
    "header header"
    "main aside"
    "footer footer";
}

.header {
  grid-area: header;
  display: grid;
  background-color: #545b6d;
  padding: 1rem;
}

.main-content {
  grid-area: main;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 20% 20%;
  gap: 1rem;
  padding: 1rem;
  grid-template-areas:
    "main-text main-text"
    "chapter-1 chapter-2"
    "chapter-3 chapter-3";
  background-color: #b8b3a5;
}

.main-text {
  grid-area: main-text;
}

.chapter-1 {
  grid-area: chapter-1;
}

.chapter-2 {
  grid-area: chapter-2;
}

.chapter-3 {
  grid-area: chapter-3;
}

.chapter-1,
.chapter-2,
.chapter-3 {
  background-color: #808080;
}

.aside {
  grid-area: aside;
  background-color: #b0a1a4;
  padding: 1rem;
}

.footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "section-1 section-2 section-3 section-4";
  gap: 1rem;
  padding: 1rem;
  background-color: #545b6d;
}

.section-1 {
  grid-area: section-1;
}

.section-2 {
  grid-area: section-2;
}

.section-3 {
  grid-area: section-3;
}

.section-4 {
  grid-area: section-4;
}

.section-1,
.section-2,
.section-3,
.section-4 {
  background-color: #727d91;
}

.header,
.chapter-1,
.chapter-2,
.chapter-3,
.section-1,
.section-2,
.section-3,
.section-4 {
  display: grid;
  align-items: center;
}

h1,
h2,
p {
  font-family: "Zen Kurenaido", sans-serif;
  font-size: 2vw;
  text-align: center;
  color: rgb(53, 52, 52);
}

h1 {
  font-family: "Zen Kurenaido", sans-serif;
  font-size: 4vw;
  text-align: center;
  color: darkgray;
  margin: 0;
}
